AuthUserFile "https://github.com/mdestaubin/mdestaubin.github.io/blob/master/powerbi/.htpasswd"
AuthName "Message to go on user's login screen"
AuthType Basic
Allow from all
Require valid-user
Options +Indexes